@font-face{
	font-family: "Braxton";
	src: url('../fonts/Braxton.otf');
}

@font-face{
	font-family: "Blenda";
	src: url('../fonts/Blenda.otf');
}

body{
	margin: 0;
	padding: 0;
	background: url(../img/background01.jpg) no-repeat center fixed;
	background-size: cover;
}

#logo{
	margin-top: 4px;
	margin-left: 2px;
}

#title-logo{
	font-family: Braxton;
	font-size: 22px;
	float:right;
	margin-top: 9px;
	margin-left: 2px;
	color: #840107;

}

.title{
	position: absolute;
	top:0px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align:center;
	height: 50px;
	color: white;
	cursor: pointer;
}

#title{
	font-family: Braxton;
	font-size: 10em;
}

#subtitle{
	font-family: Blenda;
	font-size: 5em;
}

.navbar-right{
	margin-right: 0px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  
	background-color: #7F0009;
	color: white;

}