@font-face{
	font-family: "Braxton";
	src: url('../fonts/Braxton.otf');
}

@font-face{
	font-family: "Blenda";
	src: url('../fonts/Blenda.otf');
}

.background{
min-height: 100%;
width: 100%;
position: fixed;
}

#background01{
	background: url(../img/background01.jpg) no-repeat center / cover;
}

#background02{
	background: url(../img/background02.jpg) no-repeat center fixed;
}

#background03{
	background: url(../img/background03.jpg) no-repeat center / cover;
}

#background04{
	background: url(../img/background04.jpg) no-repeat center / cover;
}

#background05{
	background: url(../img/background05.jpg) no-repeat center / cover;
}

#background06{
	background: url(../img/background06.jpg) no-repeat center / cover;
}

#background07{
	background: url(../img/background07.jpg) no-repeat center / cover;
}


#logo{
	margin-top: 4px;
	margin-left: 2px;
}

#title-logo{
	font-family: Braxton;
	font-size: 22px;
	float:right;
	margin-top: 9px;
	margin-left: 2px;
	color: #840107;

}

.title{
	position: absolute;
	top:0px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align:center;
	height: 60px;
	color: white;
	cursor: pointer;
}

#title{
	font-family: Braxton;
	font-size: 10em;
}

#subtitle{
	font-family: Blenda;
	font-size: 5em;
}

.content{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 350px;
	width: 50%;
	background-color: rgba(255,255,255,0.6);
	text-align: center;
}

#content{
	display: block;
	height: 250px;
	width: 30%;
}

.title-show{
	color: #7F0009;
}

#title-show{
	font-family: Blenda;
}

ul{
	list-style: none;
}

li > a{
	color:black;
}

li > a:hover{
	color:#7F0009;
}


.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
	background-color: #7F0009;
	color: white;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: #7F0009;
    color: white;
    text-decoration: none;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
	 background-color: #7F0009;
}

.navbar-right{
	margin-right: 0px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  
	background-color: #7F0009;
	color: white;

}

.footer{
	background-color: #7f0009;
	opacity: 0.6;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.list-inline > li > a{
	color: white;
}

.list-inline{
	margin: 8px 0;
}